<div class="nav-container">
    <div class="nav-inner">

        <!-- Left Sword Icon -->
        <img src="/img/SwordIcon.svg" alt="" class="nav-icon nav-icon-left">

        <!-- Desktop Navigation -->
        <ul class="nav-links">
            <li><a href="../index.html">Home</a></li>
            <li><a href="/pages/event-details.html">Event Details</a></li>
            <li><a href="/pages/lore.html">Lore</a></li>
            <li><a href="/pages/gallery.html">Gallery</a></li>
            <li><a href="/pages/video.html">Video</a></li>
            <!-- <li><a href="/pages/player-pack.html">Player Pack</a></li> -->
            <li><a href="/pages/contact.html">Contact</a></li>
        </ul>

        <!-- Event Title (mobile only) -->
        <a href="/index.html" class="nav-event-title"><img src="/img/2027LogoTextOnly.png" alt="" class="nav-event-img"></a>

        <!-- Right Sword Icon -->
        <img src="/img/SwordIcon.svg" alt="" class="nav-icon nav-icon-right">

        <!-- Mobile Burger -->
        <div class="burger" id="burger">
            <span></span>
            <span></span>
            <span></span>
        </div>

    </div>

    <!-- Mobile Dropdown -->
    <ul class="mobile-menu" id="mobileMenu">
        <li><a href="/index.html">Home</a></li>
        <li class="mobile-expandable">
            <button class="expand-toggle">Event Details</button>
            <ul class="mobile-submenu">
                <li><a href="/pages/event-details.html#event-details">Event Details</a></li>
                <li><a href="/pages/event-details.html#army-building">Army Building</a></li>
                <li><a href="/pages/event-details.html#model-requirements">Model Requirements</a></li>
                <li><a href="/pages/event-details.html#date-location-facilities">Date, Location & Facilities</a></li>
                <li><a href="/pages/event-details.html#sportsmanship">Sportsmanship</a></li>
                <li><a href="/pages/event-details.html#schedule">Schedule</a></li>
                <li><a href="/pages/event-details.html#awards">Awards</a></li>
                <li><a href="/pages/event-details.html#interested">Interested?</a></li>
            </ul>
        </li>
        <li><a href="/pages/lore.html">Lore</a></li>
        <li><a href="/pages/gallery.html">Gallery</a></li>
        <li><a href="/pages/video.html">Video</a></li>
        <!-- <li><a href="/pages/player-pack.html">Player Pack</a></li> -->
        <li><a href="/pages/contact.html">Contact</a></li>
    </ul>
</div>
